#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: #151a30;
}

.container{
  color: white;
}

.input-field{
  display: flex;
  justify-content: center;
  margin: 40px 0;

  & button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding: 0 20px;
  }

  & input {
    width: auto;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    width: 300px;
  }
}

.todo-item{
  justify-content: center;
  display: flex;
  justify-content: space-between;
}

.todo-item-btn{
  display: flex;
  gap: 10px;

  & button {
    height: 40px;
  }
}

.list-item-container{
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: auto;
  gap: 20px;
}